/*
For global site stylesheet configuration — e.g., global colours, font sizing, etc.
 */

$font-families: (
        "default": ('Lexend', sans-serif),
);

$font-weights: (
        "light":      200, // Lexend light(er)
        "default":    300, // Lexend light
        "semi-bold":  600, // Lexend semi-bold
);

$font-sizes: (
    "default":  18px,
    "label":    14px,
    "footer":   14px,
);

$colours: (
        "input-placeholder":      #49454F,
        "input-main":             #4A4459,
        "input-border":           #79747E,

        "button-text":            #000000,

        "error":                  #B3261E,

        "primary-outline":        #3C6DFF,
        "primary-light":          #D0DCFF,
        "primary-main":           #809FFF,

        "button-green":           #b7dcbf,

        "title-bar":              #EBF3FF,

        "site-footer-bg":         #f5faff,
        "site-footer-fg":         #888888,
        "site-footer-fg-hover":   #4e4e4e,
);

$desktop-max-content-width: 1366px;