/*
Stylesheet for buttons (as reusable components)
 */

@use '../abstracts/config';
@use 'sass:map';
@use 'sass:color';

.button {
  $v-padding: 8px;
  $h-padding: 16px;

  background-color: map.get(config.$colours, "primary-light");
  border: none;
  border-radius: 8px;
  appearance: none;
  outline: none;
  padding: $v-padding $h-padding $v-padding $h-padding;
  transition: all 0.2s ease;
  font-size: map.get(config.$font-sizes, "default");
  min-height: 40px;
  font-family: map.get(config.$font-families, "default");
  font-weight: map.get(config.$font-weights, "default");
  text-align: center;
  text-decoration: none;
  color: map.get(config.$colours, "button-text");

  &--rounded {
    border-radius: $v-padding * 2 + map.get(config.$font-sizes, "default");
  }

  &--green {
    background-color: map.get(config.$colours, "button-green");

    &:hover {
      background-color: color.adjust(map.get(config.$colours, "button-green"), $lightness: -20%) !important;
      color: #fff;
    }

    &:active {
      background-color: color.adjust(map.get(config.$colours, "button-green"), $lightness: -30%) !important;
      color: #fff;
    }
  }

  &--text-align-left {
    text-align: left;
  }

  &:hover {
    background-color: map.get(config.$colours, "primary-main");
    color: #fff;
  }

  &:active {
    background-color: map.get(config.$colours, "primary-outline");
    color: #fff;
  }
}