@use '../abstracts/config';
@use 'sass:map';






body { margin: 0; }


.sidebar-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.45);
    z-index: 1;
}


.sidebar-overlay[hidden]{
    display: none;
}


.sidebar-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    pointer-events: none;
    z-index: 2;
}


.sidebar{

    display: flex;
    flex-direction: column;
    background-color: #fff;

    height: 100vh;
    width: clamp(200px, 20vw, 400px);
    max-width: 85vw;

    padding: 0;
    margin: 0;

    overflow-y: auto;
    overflow-x: hidden;

    box-shadow: 1px 1px grey;

    transform: translateX(-100%);
    transition: transform 0.25s ease;
    will-change: transform;
}

body.sidebar-open .sidebar{
    transform: translateX(0);
}

body.sidebar-open .sidebar-wrapper{
    pointer-events: auto;
}

body.sidebar-open{
    overflow: hidden;
}


.sidebar-title {
    font-family: sans-serif;
    color: rgb(97, 97, 97);
    font-weight: normal;
    display: block;
    text-align: center;
    margin: 0;
    padding-top: 40px;
}

.sidebar-options{
    padding-top: 10vh;
    padding-left: 0;

    text-decoration: none;
    list-style: none;
    display: block;
    text-align: center;
}

.sidebar-options li a {
    display: flex;
    align-items: center;
    gap: 15px;

    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
    margin-bottom: 0.5vh;

    padding-top: 1vh;
    padding-bottom: 0.5vh;
    padding-left: 2vw;
    padding-right: 1.2vw;

    background-color: rgb(255, 255, 255);
    color: rgb(92, 92, 92);

    text-decoration: none;
    text-align: left;
    font-weight: 500;

    border-radius: 30px;
    border: 1px solid transparent;
    box-sizing: border-box;

    font-family: sans-serif;
    font-size: 15px;
}

.sidebar-options li a:hover {
    background-color: rgb(219, 219, 219);
    transition: background-color 0.2s, transform 0.2s;
}

.sidebar-logout {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 30px;

    padding: 1vw 0vw 1vw 2vw;

    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    color: rgb(92, 92, 92);

    cursor: pointer;
}

.sidebar-logout:hover {
    background-color: rgb(219, 219, 219);
    transition: background-color 0.2s, transform 0.2s;
    color: rgb(255, 48, 48);
}
