@use '../abstracts/config';
@use 'sass:map';

.analytics-wrapper {
  width: 70vw;
  margin: 0 auto;
  padding-top: 7vh;
}


.analytics-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;

}
.analytics-nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.analytics-nav ul li a {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;

}







.analytics-subtitle {
    text-align: center;
    margin-bottom: 7vh;
}

.analytics-salespiechart {
    margin: 0 auto;
}