#searchform {
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
}

#searchbarlabel {
  width: 100%;
}

#searchbar-textbox {
  height: 50px;
  width: 80%;
}

#searchsubmitbutton {
  height: 40px;
  width: 20%;
#searchbar, #searchsubmitbutton {
  padding: 5px;
  margin: 5px;
}

#searchresults {
  background-color: #aaaaaa;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.displayedbundle {
  background-color: #cccccc;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.displayedbundlelink {
  text-decoration: none;
  color: black;
}