#searchform {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

#searchbarlabel {
  width: 100%;
}

#searchbar-textbox {
  height: 50px;
  width: 80%;
}

#searchsubmitbutton {
  height: 40px;
  width: 20%;
}

.displayedbundle {
  background-color: gray;
  padding: 5px;
}