#searchform {
  margin-bottom: 10px;
}

.searchformelem {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#searchbarlabel {
  width: 100%;
}

#searchbar-textbox {
  height: 50px;
  width: 80%;
}

#searchsubmitbutton {
  height: 40px;
  width: 20%;
}

#searchform, #searchresults {
  background-color: #aaaaaa;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.displayedbundle, #basic-search, #advanced-filters {
  background-color: #cccccc;
  padding: 16px;
  border-radius: 5px;
}

.displayedbundlelink {
  text-decoration: none;
  color: black;
}

#basic-search-parallel {
  display: flex;
}

#searchbar {
  width: 80%;
}

#searchsubmitbutton {
  width: 20%;
}