@use '../abstracts/config';
@use 'sass:map';

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.dashboard {
  width: 100%;
  max-width: config.$desktop-max-content-width;
  min-height: 200px;
  padding: 40px 32px;
}


.dashboard-nav {
  display: flex;
  gap: 16px;
  margin: 0 auto;
  margin-top: 5vh;
  flex-direction: column;
  width: 80%;
  
}

.dashboard-nav h1 {
  font-weight: 500;
}
.dashboard-nav h1 {
  margin: 0 auto; 
  text-align: center;

}


.dashboard-options{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 6vw;
  gap: 20px;
}

.dashboard-options li{
  flex: 1;

  align-items: center;
  text-align: center;
  justify-content: center;
}

.dashboard-options li a{
  display: block;
  width: 60%;
  text-align: center;
  text-decoration: none;
  color: #000;

  padding: clamp(15px, 2.5vh, 30px) 0;
  line-height: 1.2;

  background-color: #D0DCFF;

  
  border-radius: 20px;

  transition: all 0.2s ease;

  cursor: pointer;

  font-family: sans-serif;
  font-size: clamp(13px, 1.6vw, 22px);
  margin: 0 auto;

}

.dashboard-options li a:hover{
  background-color: #809FFF;
  color:white;
}