@use '../abstracts/config';
@use 'sass:map';

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.dashboard {
  width: 100%;
  max-width: config.$desktop-max-content-width;
  min-height: 200px;
  padding: 40px 32px;
}

.dashboard-welcome {
  font-weight: normal;
  font-family: sans-serif;
  
}

.dashboard-nav {
  display: grid;
  gap: 16px;
  margin-top: 5vh;
}



.dashboard-options{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 6vw;
  gap: 20px;
}

.dashboard-options li{
  flex: 1;
}

.dashboard-options li a{
  display: block;
  width: 100%;
  background: none;
  text-align: center;
  text-decoration: none;
  color: #000;

  padding: clamp(15px, 2.5vh, 30px) 0;
  line-height: 1.2;

  border: 2px solid #000;
  border-radius: 999px;
  border-color: #484848;

  cursor: pointer;

  font-family: sans-serif;
  font-size: clamp(13px, 1.6vw, 22px);

}

.dashboard-options li a:hover{
  background-color: rgb(0, 0, 0);
  color:white;
  transition: background-color 0.7s;
}