@use '../abstracts/config';
@use 'sass:map';

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.dashboard {
  width: 100%;
  max-width: config.$desktop-max-content-width;
  min-height: 200px;
  padding: 40px 32px;
}