.login-form {
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin: auto;
}

.login-form div.textbox {
  margin-bottom: 10px;
}

button.button-submit {
  width: 100%;
  margin-top: 20px;
}

button.white {
  border: 1px solid black;
  background-color: white;
}

h1.login-form__title {
  text-align: center;
  font-size: x-large;
  margin-bottom: 20px;
  font-weight: normal;
}

div.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

div.circle.blue {
  background-color: #809fff;
}

div.login-form div.circle {
  margin-bottom: 25px;
}

.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.error-text {
  color: red;
  text-align: center;
}
