@use '../abstracts/config';
@use 'sass:map';

.bundle-creation-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.bundle-creation-wrapper {
  max-width: 1366px;
  min-width: 768px;
  padding: 40px 32px;

  .bundle-dashboard-buttons {
    margin-bottom: 40px;
  }
}

.bundle-creation-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;

  &__field {
    display: flex;
    align-items: center;
    gap: 32px;

    .textarea, .textbox {
      margin-left: auto;
      width: 100%;
      max-width: 512px;
    }
  }

  #add-allergen-btn {
    width: fit-content;
    margin-top: 24px;
  }

  .allergen-list {
    width: 100%;
    max-width: 100%;
  }
}