@use '../abstracts/config';
@use 'sass:map';


.view-reservation-wrapper {

    width: 60%;
    margin: 0 auto;
    margin-top: 10vh;
}

.view-reservation-info {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    gap: 3.2vh;
}

.view-reservation-info-box {
    width: 90%;

    margin: 0 auto;
    text-align: center;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;

    padding: 3vh 0;

    background-color: rgb(244, 244, 244);

    border-radius: 20px;

}

.view-reservation-form {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 3.2vh;
    align-items: center;
    text-align: center;
}

.view-reservation-form-text {
    width: 100%;
    height: 35px;
    padding-left: 1vw;


    border: 2px solid #e6e6e6;
}

.view-reservation-form-submit {
    width: 95%;

    border: none;
    border-radius: 1000px;
    background-color: #b7dcbf;

    padding: 1.8vh 0;  
    
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.2vw;

    transition: all 0.2s ease;

    cursor: pointer;
}
.view-reservation-form-submit:hover {
    color: white;
    background-color: #8ec89b;
}


.view-reservation-form-submit svg {
    transition: fill 0.2s ease;
}

.view-reservation-form-submit:hover svg {
    fill: white;
}

.view-reservation-form-submit:disabled {
    cursor: not-allowed;
    opacity: 1;
    color:black;
}

.view-reservation-form-submit:disabled:hover {
    color: white;
}

.view-reservation-buttons {
    display: flex;
    flex-direction: column;

    margin: 0;
    align-items: center;
    text-align: center;

    list-style: none;
    gap: 3.2vh;
    width: 25%;
}

.view-reservation-buttons li {
    width: 100%;
}

.view-reservation-buttons li a {
    text-decoration: none;
    font-size: smaller;
    font-weight: normal;
    border-radius: 1000px;
    background-color: rgb(154, 0, 0);
    color: white;
    width: 100%;
    display: block;
    padding: 1.5vh 0;
    transition: all 0.2s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2vw;

    cursor: pointer;

}

.view-reservation-buttons li button {
    border: none;
    text-decoration: none;
    font-size: smaller;
    font-weight: normal;
    border-radius: 1000px;
    background-color: rgb(154, 0, 0);
    color: white;
    width: 100%;
    display: block;
    padding: 1.5vh 0;
    transition: all 0.2s ease;

    

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2vw;

    cursor: pointer;

}
.view-reservation-buttons li button:hover {
    color: black;
    background-color: rgb(230, 0, 0);
}

.view-reservation-buttons li button svg {
    transition: fill 0.2s ease;
}

.view-reservation-buttons li button:hover svg {
    fill: black;
}

.view-reservation-buttons li a:hover {
    color: black;
    background-color: rgb(230, 0, 0);
}

.view-reservation-buttons li a svg {
    transition: fill 0.2s ease;
}

.view-reservation-buttons li a:hover svg {
    fill: black;
}





.view-reservation-info-box-info {
    font-weight: normal;
}


.view-reservation-description {
    margin-bottom: 10vh;
}

